
# Font Binaries
*.otf
*.ttf
*.exe
*.zip
#OTF/TTF Folder
OTF/
TTF/
#Temporary Folder
temp/

# file manager empty files
.DS_Store
.empty
.sparkleshare
# font editor temporary files
*(Autosaved).glyphs
*.vfbak
